/.ipynb_checkpoints
/.vscode
/01_python_basics_syntax.ipynb
/02_DSA_seqential.ipynb
/02_DSA_string.ipynb
/03_DSA_dictionary.ipynb
/04_DSA_set.ipynb
/05_DSA_list.ipynb
/06_DSA_tuple.ipynb
/Assignment1PowerBIfile.pbix
/Assignment1PowerBIfileQuestion4.pbix
/Classwork_Titanic.ipynb
/Code Big Data Analytics.zip
/Titanic-Dataset.csv